@import url("https://fonts.googleapis.com/css?family=Coustard");
@font-face {
  font-family: "anicb";
  src: url(Fonts/anicb___.ttf);
}
@font-face {
  font-family: "party business";
  src: url(Fonts/partybusiness.ttf);
}
@font-face {
  font-family: "tngan";
  src: url(Fonts/tngan.ttf);
}

html {
  scroll-behavior: smooth;
}

/* Cool effect when selecting text */
::selection {
  background: #ff6600;
  color: #201c29;
}

/* */
.container-fluid {
  padding: 5% 2%;
}

/*** Colors ***/
.wip {
  border: 1px solid red;
}

.dead,
footer,
.text {
  color: #e6e6e6;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
  transition: .3s;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: orangered;
  border-bottom: 2px dashed transparent;
}

p a {
  border-bottom: 2px dashed #f78e3d;
  padding: 0 .5rem;
}

.text {
  background: rgba(0, 0, 0, 0.4);
  padding: 2%;
}

header, #reward, #ring, #contact {
  background: url("Pictures/bg_dark.png");
  color: #e6e6e6;
}

footer {
  background: rgba(247, 142, 61, 1);
}

/*** Fonts ***/
body {
  font-size: calc(.8rem + .5vw);
  font-family: "anicb", cursive;
  background: url("Pictures/bg_light.png");
}

.panel-heading {
  font-size: calc(1rem + 1vw);
  background-color: #c0c0c0;
  color: #201c29;
}

h1, header h2 {
  font-family: "party business", cursive;
  text-transform: lowercase;
}

h1 {
  font-size: calc(0.4rem + 2.2vw);
  font-weight: 700;
  transition: 0.4s ease-in-out;
}

header h2 {
  font-size: calc(0.4rem + 1.5vw);
  letter-spacing: normal;
  padding: 2% 0;
}

h2,
nav ul li, .nav-pills, .card, .panel {
  font-family: "anicb", cursive;
}

h2 {
  font-size: calc(1rem + .8vw);
  font-weight: 700;
}

section h2 {
  margin: 5%;
}

section h2::before, section h2::after {
  content: " ij ";
  font-family: "tngan", cursive;
}

h4 {
  font-size: calc(1rem + 2vw);
}

/*** Nav ***/
nav {
  width: 100%;
  background : rgba(247, 142, 61, 1);
  box-shadow: 0 .5rem .8rem rgba(0, 0, 0, .2);
}

ul {
  list-style: none;
  width: 100%;
}

ul li {
  margin: .5rem 0;
  font-size: calc(.5rem + .5vw);
  padding: 0 2.5%;
}

nav ul .active a {
  border-bottom: 3px solid #e6e6e6;
}

.navbar ul li:not(:last-of-type) {
  border-right: 1px solid #e6e6e6;;
}

@media all and (max-width: 992px) {
  .navbar ul li:not(:last-of-type) {
    border-right: 1px solid transparent;
  }
  nav ul .active a {
    border-bottom: 3px solid transparent;
  }
}

/*** Carousel Section ***/
header {
  height: 100vh;
  display: flex;
  align-items: center;
}

.carousel {
  border: 2px solid rgba(247, 142, 61, 1);
  box-shadow: 0 0 5vh rgba(0, 0, 0, .6);
}

.carousel-inner img {
  height: 100%;
  width: 100vw;
}

.text {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 7%;
}

.text,
.text h2 {
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(255, 255, 255, 0.5);
}

.carousel-inner img {
  filter: brightness(0.5) saturate(0);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: rgba(247, 142, 61, 0.5) !important;
}

/*** Fellows section ***/
.nav-pills {
  border-bottom: 3px solid transparent;
}

.nav-pills .nav-item {
  padding: calc(0.5rem + 0.8vw);
}

.nav-pills .nav-item .active {
  border-bottom: 3px solid #f88c33;
  background: none;
  border-radius: 0;
  color: #201c29;
}

h2::before, h2::after, .nav-pills .active span, .active .nav-pills span {
  font-family: "tngan", cursive;
}

.nav-pills span, .nav-pills span {
  font-size: 150%;
  color: transparent;
}

.nav-pills .active span {
  color: rgba(247, 142, 61, 1);
}

/*** Cards ***/

.card {
  background: #060508;
  margin: 2rem;
  padding: 0;
  text-transform: lowercase;
}

.name {
  left: 50%;
  font-size:calc(1.7rem + 2vw);
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in;
}

.card, h4 {
  font-family: "party business", cursive;
}

.card-2 {
  animation: 0.8s appear;
}

.card-3 {
  animation: 1.2s appear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.characters img {
  width: 100%;
  padding: 1vh;
  opacity: 0.5;
  transition: all 0.7s ease-in;
  filter: saturate(0) contrast(.8);
}

.characters:hover img {
  opacity: 1;
}

.card:hover .reward {
  opacity: 0;
}

.card:hover .name {
  font-size: calc(1.5rem + 1.5vw);
  top: 65%;
}

.reward,
.dead,
.name {
  position: absolute;
}

.reward {
  width: 70%;
  left: 50%;
  transform: translate(-50%);
  font-size: calc(1rem + 1vw);
}

.dead {
  color: orangered;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: calc(2.5rem + 2vw);
}

.strikethrough {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  text-decoration: line-through;
  font-size: calc(2.5rem + 2vw);
}

.dead-name {
  color: #e6e6e6;
}

.reward {
  padding: 0.5rem;
  background: #fff;
  top: 7%;
  color: black;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 0.7rem rgba(255, 255, 255, 1);
  transition: 0.3s ease-in;
}

.reward span {
  color: orangered;
  font-weight: 700;
}

.card .card-footer {
  color: #e6e6e6;
  font-size: calc(1.2rem + 1vw);
}

/*** Hunters section ***/

#hunters p {
  font-family: "party business", cursive;
  font-size: calc(1rem + 1vw);
}

/*** Reward Section ***/

.button-box .btn {
  border-radius: 20px;
  padding: .8rem 2.5rem;
  transition: 0.5s;
  border: 2px solid #f78e3d;
}

h4, .button-box .btn, section h2::before, section h2::after, h2::before, h2::after, .nav-pills .nav-item .active::before, .nav-pills .nav-item .active::after {
  color: rgba(247, 142, 61, 1);
}

.button-box .btn:hover {
  border-radius: 0;
}

/*** Ring Section ***/
.panel {
  position: relative; /* Necessary for the "position: absolute"
  on the .quotes to be effective */
  margin: 5% 0;
  border-bottom: 3px solid rgba(247, 142, 61, 1);
}

.panel-heading {
  background: rgba(247, 142, 61, 1);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.3);
  color: #e6e6e6;
  border-radius: 20px 20px 0 0;
}

.panel-body {
  background: #e6e6e6;
  color: #201c29;
  padding: 3% 0;
}

th:first-of-type,
tr td:first-of-type {
  width: 20vw;
  text-align: center;
}

th:nth-of-type(2),
tr td:nth-of-type(2) {
  width: 60vw;
  padding-left: 2rem;
}

#ring .panel .panel-body .quotes {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translateY(-50%, -20%);
  font-size: 18rem;
  color: rgba(247, 142, 61, 0.7);
  font-family: "coustard", cursive;
}

.gollum-pic {
  clip-path: circle(30% at center);
}

/*** Contact section ***/

form input,
textarea,
form select {
  width: 100%;
  border-bottom: 5px solid rgba(247, 142, 61, 1);
  border-radius: 0;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 1.5vh;
  color: #e6e6e6;
  font-size: calc(0.8rem + 0.4vw);
}

form input,
textarea {
  background: rgba(247, 142, 61, 0.2);
}

select {
  background: url(https://cdn4.iconfinder.com/data/icons/iconsweets/50/arrow_down.png)
      no-repeat right,
    rgba(247, 142, 61, 0.2);
  -webkit-appearance: none;
  background-position-x: 100%;
}

select option {
  color: #201c29;
  background: #f78e3d;
}

select,
.submit {
  margin: 2rem 0;
}

.submit {
  border: 2px solid rgba(247, 142, 61, 1);
  background: transparent;
}

.map {
  margin: 10% auto;
}

/*** Army ***/

.info {
  margin: 10vw auto;
}

/*** Footer ***/

footer ul li {
  margin: 1rem 0;
}

footer li a {
  transition: .5s;
}

footer li a:hover {
  color: orangered;
}

.fab {
  font-size: 1.5rem;
  border: 1px dashed;
  border-radius: 50%;
  padding: 1rem;
}

.fab:hover {
  animation: bounce 0.4s;
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}